<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/button.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>MONEY</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.money}"></td>
        <td>
            <form th:action="@{/user}" th:method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" th:name="username" th:value="${user.username}">
                <button class="btn_delete" type="submit">删除</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>